
<app-dynamic-card class="product-form" [title]="'Formulario de registro'">
    <app-dynamic-button actions icon="close" class="close-button" type="fab" (action)="router.navigate(['/product-list'])"></app-dynamic-button>
    <app-dynamic-form content #formCreate [baseControls]="controls || []"></app-dynamic-form>
    <app-dynamic-button actions label="reiniciar" (action)="formCreate.formGroup.reset()"></app-dynamic-button>
    <app-dynamic-button actions color="dark" [label]="formCreate.mode === 'edit'? 'editar' : 'agregar'"
        [disabled]="formCreate.formGroup.invalid" (action)="addData(formCreate.mode === 'edit')"></app-dynamic-button>
</app-dynamic-card>
