.card {
    padding: 40px;
    background: white;
    border-radius: 11px;
    margin: 20px 20px 35px 20px;
    overflow-x: hidden;
    box-shadow: 0px 0px 33px -20px rgba(0, 0, 0, 0.27);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    position: relative;

    .title~.content .divider {
        display: block;
        width: 100%;
        height: 2px;
        background: rgba(0, 0, 0, 0.116);
        transform: scaleX(2);
    }

    .title {
        margin: -20px auto 20px auto;
        text-transform: capitalize;
        text-align: center;
        max-width: calc(100% - 100px);
    }

    .actions {
        margin-top: 20px;
    }

    &:hover {
        box-shadow: 0px 13px 40px -20px rgba(0, 0, 0, 0.27);
    }

    .close-button {
        position: absolute !important;
        top: 12px;
        right: 0px;

        button {
            background: transparent !important;
        }
    }

    animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes scale-up-bottom {
    0% {
        transform: scale(0.99);
        transform-origin: center;
    }

    100% {
        transform: scale(1);
        transform-origin: center;
    }
}

@media screen and (max-width: 767px) {
    .card {
        padding: 40px 20px 40px 20px;
    }

    app-dynamic-table .card {
        padding: 10px 0px;
    }
}

@media screen and (max-width: 767px) and (pointer:coarse) {
    .card {
        padding: 40px 20px 40px 20px;
    }

    app-dynamic-table .card {
        padding: 12px 10px;
    }
}


@media screen and (max-width: 450px) {
    .card {
        padding: 40px 0px;
        margin: 10px 10px;

        .title {
            font-size: 20px;
        }

        .actions {
            zoom: 0.9;

            app-dynamic-button {
                margin: 5px;
            }
        }
    }
}


.snackbar {
    position: fixed;
    display: block;
    background: #00203B;
    z-index: 100;
    margin: auto;
    left: 0;
    right: 0;
    min-width: 100%;
    max-width: 300px;
    width: 100%;
    bottom: 20px;
    height: fit-content;
    max-height: 200px;
    min-height: fit-content;
    min-width: fit-content;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 40px -13px rgba(36, 36, 36, 0.774);

    &.done {
        background: #08773a;
    }

    &.error {
        background: #d13232;
    }

    &.warning {
        background: #cf9409;
    }

    & * {
        color: white;
    }

    &:hover {
        box-shadow: 0px 8px 40px -13px rgba(0, 0, 0, 0.774) !important;
    }

    button {
        position: absolute;
        transform: scale(0.7);
        right: 3px;
        top: 5px;
        background: #ffffff42;
    }

    .icon {
        font-size: 31px;
        font-weight: bolder;
    }

    p {
        margin: 10px 0;
        font-weight: 500;
        text-align: justify;
    }

    animation: snackbar 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) normal;

    &.remove {
        animation: snackbar-remove 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) normal;
    }
}

@keyframes snackbar {
    0% {
        transform: scale(0.9) translateY(30px);
        transform-origin: center center;
        opacity: 0;
    }

    100% {
        transform: scale(1) translateY(0px);
        transform-origin: center center;
        opacity: 1;
    }
}


@keyframes snackbar-remove {
    0% {
        transform: scale(1) translateY(0px);
        transform-origin: center center;
        opacity: 1;
    }
    100% {
        transform: scale(0.9) translateY(30px);
        transform-origin: center center;
        opacity: 0;
    }

}