@mixin inputBorder($background-color, $border-color, $outline-color ) {
    background-color: $background-color;
    border-color: $border-color !important;
    outline-color: $outline-color !important;
}


.beyman-s-input {
    display: block;

    label {
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        font-weight: 600;
        font-size: 13px;
        padding: 0 12px;
        color: #000000ad;
    }

    .input-container {
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        border: solid 1px #0000004f;
        padding: 0 10px;
        border-radius: 10px;
        outline: solid 3px transparent;
        outline-offset: 0px;
    }

    textarea,
    input {
        display: block;
        width: 100%;
        border: none;
        padding: 2px 0;
        min-height: 40px !important;
        background: transparent;
        font-size: 14px;
        color: #000000ad;
        font-weight: 500;
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;

        &:hover,
        &:focus {
            outline: none;
        }

        &:disabled {
            cursor: default;
            background-color: transparent;
            color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
            border-color: transparent;
        }
    }

    &:hover,
    &:focus-within {
        label {
            font-size: 11px;
            font-weight: 700;
        }

        .input-container {
            border: solid 1px transparent;
            outline-style: auto;
            outline: solid 3px #0000004f;
            outline-offset: -3px;

            input {
                outline: none;
            }
        }
    }
}


.disabled {
    cursor: not-allowed;

    .beyman-s-input {
        pointer-events: none !important;

        * {
            color: #00000073 !important;
        }

        .input-container {
            cursor: not-allowed;
            @include inputBorder(#0000000a, #7676764d, transparent);
        }
    }
}

.invalid {
    cursor: text;

    .beyman-s-input {
        * {
            color: #5017179c !important;
        }

        .input-container {
            @include inputBorder(#9c03031e, #9c03031e, transparent);


        }

        &:hover,
        &:focus-within {
            .input-container {
                border: solid 1px transparent !important;
                outline: solid 3px #9c030362 !important;
            }
        }

    }
}